.container {
  max-width: 960px;
}

.site-header {
  background-color: white;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  font-weight: 400;
}

.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #5f6769;
  text-decoration: underline;
  font-weight: 900;
}

.Homepage-Image {
  margin: auto;
  width: 100%;
}
