h1 {
    font-weight: 900 !important;
}

h2 {
    font-weight: 900!important;
}

h6 {
    font-size: 32px !important;
    font-weight: 900 !important;
    text-decoration: underline;
}

p {
    font-size: 32px;
    font-weight: 500 !important;
}

table {
    font-size: 25px;
}

tr { 
    font-weight: 900;
}

.Item-Container {
    font-family: 'Amatic SC', cursive;
    /* font-family: 'Titillium Web', sans-serif; */
}

.Item-Detail {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.Item-Name {
    font-size: 50px;
}

.Item-Type {
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 900px;
}

.Item-Price {
    font-size: 35px;
    font-weight: 900px;
}

#Item-Image {
    border-radius: 50px;
    width: auto;
    height: 50%;
}

.Item-Info {
    margin-left: 30px;
    width: 700px;
    height: auto;
}

.Item-Choice {
    display: flex;
    justify-content: space-evenly;
}

.Item-Size {
    font-size: 40px !important;
    color: #212529;
    font-size: 30px !important;
    font-weight: 700;
    height: 65px;
    width: 200px;
    border: 2px solid #212529;
    border-radius: 20px;
    background: #f9f9f9;
    outline: none;
    cursor: pointer;
    display: block;
    position: relative;
    box-shadow: 0 6px #3c4245;
}

.Item-Size:hover {
    box-shadow: 0 4px #3c4245;
    top: 2px;
}

.Item-Size:active {
    box-shadow: none;
    top: 6px;
}

.Item-Size:focus {
    outline: 0;
}

.Item-Button {
    color: #212529;
    font-size: 30px;
    font-weight: 700;
    height: 65px;
    width: 250px;
    border: 2px solid #212529;
    border-radius: 20px;
    background: #f9f9f9;
    outline: none;
    cursor: pointer;
    display: block;
    position: relative;
    box-shadow: 0 6px #3c4245;
    margin-bottom: 10px;
}

.Item-Button:hover {
    box-shadow: 0 4px #3c4245;
    top: 2px;
}

.Item-Button:active {
    box-shadow: none;
    top: 6px;
}

.Item-Button:focus {
    outline: 0;
}

@media (max-width: 1200px) {
    .Item-Detail {
        display: flex;
        justify-content: center;
        flex-direction: column; 
        margin-top: 3rem;
    }

    #Item-Image {
        border-radius: 50px;
        width: 85%;
        height: 50%;  
        margin: auto;
        margin-bottom: 25px;
    }

    .Item-Info {
        margin-left: 30px;
        max-width: 900px;
        width: auto;
        height: auto;
        margin: auto;
    }

    .Item-Size {
        width: 350px;
    }

    .Item-Button {
        width: 350px;
    }
}

@media (max-width: 950px) {
    .Item-Detail {
        display: flex;
        justify-content: center;
        flex-direction: column; 
        margin-top: 3rem;
    }

    #Item-Image {
        border-radius: 50px;
        width: 90%;
        height: 50%;  
        margin: auto;
        margin-bottom: 25px;
    }

    .Item-Info {
        margin-left: 30px;
        max-width: 750px;
        width: auto;
        height: auto;
        margin: auto;
    }
}

@media (max-width: 700px) {
    .Item-Detail {
        display: flex;
        justify-content: center;
        flex-direction: column; 
        margin-top: 3rem;
    }

    #Item-Image {
        border-radius: 50px;
        width: 100%;
        height: 50%;  
        margin-bottom: 25px;
    }

    .Item-Info {
        margin-left: 20px;
        max-width: 500px;
        width: auto;
        height: auto;
    }
}