.Nav {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 150px;
  background: #f7f7f7;
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
}

.Nav-Brand {
  font-size: 6.5rem !important;
  margin: auto !important;
}

.Nav-Logout {
  color: rgba(0, 0, 0, 0.5);
}

.Nav-Logout:hover {
  text-decoration: none;
  color: #5f6769;
}

.Sub-Nav {
  display: flex;
  justify-content: center;
  background: #f7f7f7;
}

.Sub-Nav a {
  margin: 7px;
  color: #999;
  font-size: 1.5rem;
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  text-decoration: none;
}

.Sub-Nav p {
  margin: 7px;
  color: #999;
  font-size: 1.5rem;
  font-family: 'Indie Flower', cursive;
  font-weight: 400;
  text-decoration: none;
}

.Sub-Nav a:hover {
  color: #5f6769;
  text-decoration: none;
  font-weight: 900;
}

.Nav-Underline {
  border-bottom: 1px solid #5f6769;
  margin-top: 0;
}

@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .Nav-Brand {
    font-size: 6rem !important;
  }
}

@media (max-width: 800px) {
  .navbar {
    height: 150px;
  }
}

@media (min-width: 700px) {
  .hide-icon {
    display: none;
  }
}