.Payment-Container {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Titillium Web', sans-serif;
}

.Customer-Container {
    display: flex;
    flex-direction: column;
    
}

/* CUSTOMER-INFO  */
.Info-Container {
    background: #f7f7f7;
    border-radius: 25px;
    width: 750px;
    height: 180px;
    padding: 20px;
}

.Info-Header {
    font-size: 35px;
}

/* ORDER SECTION */
.Order-Container {
    padding: 25px 25px 25px 25px;
    background: #f7f7f7;
    border-radius: 25px;
    width: 750px;
    height: 750px;
    padding-right: 50px;
}