.form-signin {
  width: 100%;
  max-width: 600px;
  padding: 105px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

input.form-control {
    margin: 0.7rem;
    border: 1px solid #45454d;
}

button.btn {
    border-radius: 50px;
    width: 300px;
}

h1.h1 {
    font-size: 50px;
}